<h2>Various examples</h2>
<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Confirm Action Example</h3>
<p>
  An example on how to confirm an action before it's applied to the table:
</p>
<div class="with-source">
  <a class="source" href="https://github.com/akveo/ng2-smart-table/blob/master/src/app/pages/examples/various/advanced-example-confirm.component.ts" target="_blank">Demo Source</a>
  <advance-example-comfirm></advance-example-comfirm>
</div>


<h3><a id="multiselect" class="anchor" href="#multiselect" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Multi select</h3>
<p>An example on how to use multi select mode:</p>
<div class="with-source">
  <a class="source" href="https://github.com/akveo/ng2-smart-table/blob/master/src/app/pages/examples/various/basic-example-multi-select.component.ts" target="_blank">Demo Source</a>
  <basic-example-multi-select></basic-example-multi-select>
</div>
