<header-component tagline="快速开始 & Demo"></header-component>
<section class="main-content">

    <h2><a id="getting-started" class="anchor" href="#getting-started" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>入门</h2>
    <p>
        你好，欢迎光临！
    </p>

    <h3><a id="installation" class="anchor" href="#installation" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>安装</h3>
    <p>
        该库可用作npm软件包，因此您只需运行以下命令即可：（如果不是新手，建议先装淘宝镜像端，因为cnpm更快）
    </p>
    <pre>
    <code highlight class="bash">{{ snippets.install }}</code>
  </pre>
    <p>该命令将在您的`package.json`文件中创建一个记录，并将该包安装到npm modules文件夹中。</p>

    <h2><a id="examples" class="anchor" href="#examples" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>例子</h2>
    <h3><a id="minimal-setup" class="anchor" href="#minimal-setup" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
        最简单的设置示例
    </h3>
    <p>
        首先需要将ng2-first-table指令导入到组件中。
    </p>
    <pre>
    <code highlight class="typescript">{{ snippets.require }}</code>
  </pre>
    <p>
        然后通过添加到您的模块的指令列表来注册它：
    </p>
    <pre>
    <code highlight class="typescript">{{ snippets.directive }}</code>
  </pre>
    <p>
        现在，我们需要配置表并将其添加到模板中。 组件开始工作的唯一必需设置是列配置。
        我们在配置表中注册设置属性，并配置一些列 （<a [routerLink]="['/documentation']">设置文档</a>）:
    </p>
    <pre>
    <code highlight class="typescript">{{ snippets.settings }}</code>
  </pre>
    <p>
        最后，我们将ng2-first-table组件放在模板中：
    </p>
    <pre>
    <code highlight class="typescript">{{ snippets.template }}</code>
  </pre>
    <p>
        在这一步，你将有一个最低配置的表，应该看起来像这样：
    </p>
    <div>
        <basic-example></basic-example>
    </div>
    <p>
        默认情况下，所有功能都可用，您不需要以某种方式进行配置，因此您可以添加/编辑/删除行，
        排序或过滤表等
    </p>
    <p>
        但是感觉像是缺少一些东西...对，默认情况下，表中没有数据。 要添加一些，我们来创建一个数组
        属性与组件中的对象列表。 请注意，对象键与列配置中的相同。
    </p>
    <pre>
    <code highlight class="typescript">{{ snippets.array }}</code>
  </pre>
    <p>并将数据传递给表：</p>
    <pre>
    <code highlight class="typescript">{{ snippets.dataTemplate }}</code>
  </pre>
    <p>现在你有一些数据在表中：</p>
    
    <div>
        <a class="source" href="https://github.com/wangraoji/ng2-first-table/blob/master/src/app/shared/components/basic-example/basic-example-data.component.ts" target="_blank">演示源</a> 
        <basic-example-data></basic-example-data>
    </div>
    <p>
        这是一个最小的设置，我们的最终组件应该看起来像这样，很简单吧！
    </p>
    <pre class="with-source">
    <code highlight class="typescript">{{ snippets.basicFull }}</code>
  </pre>

        <p>全组件文档可以在<a [routerLink]="['/documentation']">这里</a>找到。</p>
</section>