<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>隔行换色示例</h3>
<p>
    前提条件： rowBgc.isShow 设置为 true; <br>
    奇偶行颜色自定义：rowBgc.oddBgc = '#ccc', rowBgc.evenBgc =  '#ddd'。
</p>
<div class="with-source">
    <a class="source" href="https://github.com/wangraoji/ng2-first-table/tree/master/src/app/pages/examples/ghhs/ghhs-example.component.ts"
        target="_blank">演示源</a>

    <ghhs-example-table></ghhs-example-table>
</div>