/deep/ table.ng2-smart-table {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;

  td, th {
    font-size: .875rem;
    margin: 0;
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
  }

  .ng2-smart-row {
    &.selected {
      background: rgba(0, 0, 0, 0.05);
    }

    .ng2-smart-actions {
      &.ng2-smart-action-multiple-select {
        text-align: center;
      }
    }
  }
}
