<div class="ng2-smart-table-container">
  <table class="ng2-smart-table table" [id]="grid.getSetting('attr.id')" [ngClass]="grid.getSetting('attr.class')">

    <thead ng2-st-thead *ngIf="!grid.getSetting('hideHeader') || !grid.getSetting('hideSubHeader')"
                        [grid]="grid"
                        [isAllSelected]="isAllSelected"
                        [source]="source"
                        [createConfirm]="createConfirm"
                        (create)="create.emit($event)"
                        (selectAllRows)="onSelectAllRows($event)"
                        (sort)="sort($event)"
                        (filter)="filter($event)">
    </thead>

    <tbody ng2-st-tbody [grid]="grid"
                        [source]="source"
                        [deleteConfirm]="deleteConfirm"
                        [editConfirm]="editConfirm"
                        (edit)="edit.emit($event)"
                        (delete)="delete.emit($event)"
                        (userSelectRow)="onUserSelectRow($event)"
                        (editRowSelect)="editRowSelect($event)"
                        (multipleSelectRow)="multipleSelectRow($event)">
    </tbody>

  </table>

  <ng2-smart-table-pager *ngIf="grid.getSetting('pager.display')"
                         [source]="source"
                         [perPage]="grid.getSetting('pager.perPage')"
                         (changePage)="changePage($event)">
  </ng2-smart-table-pager>
</div>
