<div class="ng2-smart-table-container">
  <table class="ng2-smart-table table" [id]="grid.getSetting('attr.id')" [ngClass]="grid.getSetting('attr.class')">
    <thead *ngIf="!grid.getSetting('hideHeader') || !grid.getSetting('hideSubHeader')">

    <tr class="ng2-smart-titles" *ngIf="!grid.getSetting('hideHeader')">
      <th *ngIf="grid.isMultiSelectVisible()" (click)="selectAllRows()">
        <input type="checkbox" [ngModel]="isAllSelected">
      </th>
      <th *ngIf="grid.showActionColumn('left')" class="ng2-smart-actions">
        <div class="ng2-smart-title">{{ grid.getSetting('actions.columnTitle') }}</div>
      </th>
      <th *ngFor="let column of grid.getColumns()" class="ng2-smart-th {{ column.id }}" [ngClass]="column.class">
        <div class="ng2-smart-title">
          <ng2-smart-table-title [source]="source" [column]="column" (sort)="sort($event)"></ng2-smart-table-title>
        </div>
      </th>
      <th *ngIf="grid.showActionColumn('right')" class="ng2-smart-actions">
        <div class="ng2-smart-title">{{ grid.getSetting('actions.columnTitle') }}</div>
      </th>
    </tr>

    <tr class="ng2-smart-filters" *ngIf="!grid.getSetting('hideSubHeader')">
      <th *ngIf="grid.isMultiSelectVisible()"></th>
      <th *ngIf="grid.showActionColumn('left')" class="ng2-smart-actions-title ng2-smart-actions-title-add">
        <a *ngIf="grid.getSetting('actions.add')" href="#" class="ng2-smart-action ng2-smart-action-add-add"
           [innerHTML]="grid.getSetting('add.addButtonContent')" (click)="onAdd($event)"></a>
      </th>
      <th *ngFor="let column of grid.getColumns()" class="ng2-smart-th {{ column.id }}">
        <ng2-smart-table-filter [source]="source"
                                [column]="column"
                                [inputClass]="grid.getSetting('filter.inputClass')"
                                (filter)="filter($event)"></ng2-smart-table-filter>
      </th>
      <th *ngIf="grid.showActionColumn('right')" class="ng2-smart-actions-title ng2-smart-actions-title-add">
        <a *ngIf="grid.getSetting('actions.add')" href="#" class="ng2-smart-action ng2-smart-action-add-add"
           [innerHTML]="grid.getSetting('add.addButtonContent')" (click)="onAdd($event)"></a>
      </th>
    </tr>

    <tr *ngIf="grid.createFormShown">
      <td *ngIf="grid.isMultiSelectVisible()"></td>
      <td class="ng2-smart-actions">
        <a href="#" class="ng2-smart-action ng2-smart-action-add-create"
           [innerHTML]="grid.getSetting('add.createButtonContent')" (click)="onCreate(grid.getNewRow(), $event)"></a>
        <a href="#" class="ng2-smart-action ng2-smart-action-add-cancel"
           [innerHTML]="grid.getSetting('add.cancelButtonContent')" (click)="grid.createFormShown = false;"></a>
      </td>
      <td *ngFor="let cell of grid.getNewRow().getCells()">
        <ng2-smart-table-cell [cell]="cell" [inputClass]="grid.getSetting('add.inputClass')"
                              [isInEditing]="grid.getNewRow().isInEditing"
                              (edited)="onCreate(grid.getNewRow(), $event)"></ng2-smart-table-cell>
      </td>
    </tr>

    </thead>

    <tbody>

    <tr *ngFor="let row of grid.getRows()" (click)="onUserSelectRow(row)" class="ng2-smart-row"
        [ngClass]="{selected: row.isSelected}">
      <td *ngIf="grid.isMultiSelectVisible()" class="ng2-smart-actions ng2-smart-action-multiple-select"
          (click)="multipleSelectRow(row)">
        <input type="checkbox" class="form-control" [ngModel]="row.isSelected">
      </td>
      <td *ngIf="!row.isInEditing && grid.showActionColumn('left')" class="ng2-smart-actions">
        <a href="#" *ngIf="grid.getSetting('actions.edit')" class="ng2-smart-action ng2-smart-action-edit-edit"
           [innerHTML]="grid.getSetting('edit.editButtonContent')" (click)="onEdit(row, $event)"></a>
        <a href="#" *ngIf="grid.getSetting('actions.delete')" class="ng2-smart-action ng2-smart-action-delete-delete"
           [innerHTML]="grid.getSetting('delete.deleteButtonContent')" (click)="onDelete(row, $event)"></a>
      </td>
      <td *ngIf="row.isInEditing" class="ng2-smart-actions">
        <a href="#" class="ng2-smart-action ng2-smart-action-edit-save"
           [innerHTML]="grid.getSetting('edit.saveButtonContent')" (click)="onSave(row, $event)"></a>
        <a href="#" class="ng2-smart-action ng2-smart-action-edit-cancel"
           [innerHTML]="grid.getSetting('edit.cancelButtonContent')" (click)="onCancelEdit(row, $event)"></a>
      </td>
      <td *ngFor="let cell of row.getCells()">
        <ng2-smart-table-cell [cell]="cell" [mode]="grid.getSetting('mode')"
                              [inputClass]="grid.getSetting('edit.inputClass')" [isInEditing]="row.isInEditing"
                              (edited)="onSave(row, $event)"></ng2-smart-table-cell>
      </td>
      <td *ngIf="!row.isInEditing && grid.showActionColumn('right')" class="ng2-smart-actions">
        <a href="#" *ngIf="grid.getSetting('actions.edit')" class="ng2-smart-action ng2-smart-action-edit-edit"
           [innerHTML]="grid.getSetting('edit.editButtonContent')" (click)="onEdit(row, $event)"></a>
        <a href="#" *ngIf="grid.getSetting('actions.delete')" class="ng2-smart-action ng2-smart-action-delete-delete"
           [innerHTML]="grid.getSetting('delete.deleteButtonContent')" (click)="onDelete(row, $event)"></a>
      </td>
    </tr>

    <tr *ngIf="grid.getRows().length == 0">
      <td
        [attr.colspan]="grid.getColumns().length + (grid.getSetting('actions.add') || grid.getSetting('actions.edit') || grid.getSetting('actions.delete'))">
        {{ grid.getSetting('noDataMessage') }}
      </td>
    </tr>

    </tbody>
  </table>

  <ng2-smart-table-pager *ngIf="grid.getSetting('pager.display')"
                         [source]="source"
                         [perPage]="grid.getSetting('pager.perPage')"
                         (changePage)="changePage($event)"></ng2-smart-table-pager>
</div>
