.ng2-smart-table {
  td, th {
    padding: 10px;
    vertical-align: top;
  }

  .ng2-smart-row {
    &.selected {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .ng2-smart-action {
    font-size: 22px;
    padding: 5px;

    &.ng2-smart-action-add-add {
      &::before {
        content: '✚';
      }
    }
    &.ng2-smart-action-add-cancel {
      &::before {
        content: '✗';
      }
    }
    &.ng2-smart-action-add-create {
      &::before {
        content: '✓';
      }
    }
    &.ng2-smart-action-edit-edit {
      &::before {
        content: '✎';
      }
    }
    &.ng2-smart-action-edit-save {
      &::before {
        content: '✓';
      }
    }
    &.ng2-smart-action-edit-cancel {
      &::before {
        content: '✗';
      }
    }
    &.ng2-smart-action-delete-delete {
      &::before {
        content: '✗';
      }
    }
  }
}