:host {
  font-size: 1rem;

  /deep/ {
    * {
      box-sizing: border-box;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      color: inherit;
      font: inherit;
      margin: 0;
    }

    table {
      line-height: 1.5em;
      display: table;
      width: 100%;
      border-spacing: 0 10px;
      border-collapse: separate;
      max-width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all;

      tr {
        text-align: left;
        th {
          font-weight: bold;
          text-align: left;
        }
        section {
          font-size: .75em;
          font-weight: bold;
        }
        td,
        th {
          font-size: .875em;
          margin: 0;
          padding: 0.5em 1em;
        }

        td {
          a {
            color: #359daa;
            text-decoration: none;
            border-bottom: 1px dotted #359daa;

            &:hover {
              text-decoration: none;
              border-bottom: 1px solid #359daa; 
            }
          }
        }
      }
    }

    a {
      color: #004f5a;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
