<header-component tagline="首页"></header-component>

<section class="main-content">

    <h3><a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Demo</h3>

    <div>
        <basic-example-data></basic-example-data>
    </div>

    <h3><a id="features" class="anchor" href="#features" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>特征</h3>
    <ul>
        <li>本地数据源（Server / API DataSource正在进行中）</li>
        <li>过滤</li>
        <li>排序</li>
        <li>分页</li>
        <li>内联添加/编辑/删除</li>
        <li>灵活的事件模型</li>
    </ul>

    <h3><a id="free" class="anchor" href="#free" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>是免费吗？</h3>

    <p>是的，ng2-first-table是绝对免费的，MIT许可。 这基本上意味着你可以使用它。</p>

    <h3><a id="support" class="anchor" href="#support" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>我怎么能支持你们？</h3>

    <p>如果你有时间：</p>
    <ul>
        <li>可以关注我们的： <a href="https://github.com/wangraoji/ng2-first-table" target="_blank">GitHub</a></li>
        <li>创建拉请求，提交错误，建议新功能</li>
    </ul>
</section>