<header-component tagline="Smart data table library with sorting, filtering, pagination & add/edit/delete functions."></header-component>

<section class="main-content">

  <h3><a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Demo</h3>
  
  <div>
    <basic-example-data></basic-example-data>
  </div>
  
  <h3><a id="features" class="anchor" href="#features" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Features</h3>
    <ul>
      <li>Local data source (Server/API DataSource is on its way)</li>
      <li>Filtering</li>
      <li>Sorting</li>
      <li>Pagination</li>
      <li>Inline Add/Edit/Delete</li>
      <li>Flexible event model</li>
    </ul>

  <h3><a id="free" class="anchor" href="#free" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Is it free?</h3>

  <p>Yes, ng2-smart-table is absolutely free and MIT licensed. That basically means you can use it as you want to.</p>

  <h3><a id="support" class="anchor" href="#support" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>How can I support you guys?</h3>

  <p>If you have a second:</p>
  <ul>
    <li>Star <a href="https://github.com/akveo/ng2-smart-table" target="_blank">our GitHub repo</a></li>
    <li>Create pull requests, submit bugs, suggest new features</li>
    <li>Follow <a href="https://twitter.com/akveo_inc" target="_blank">us on Twitter</a></li>
    <li>Like <a href="https://www.facebook.com/akveo/" target="_blank">our page on Facebook</a></li>
  </ul>

  <h3><a id="hire" class="anchor" href="#hire" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Can I hire you?</h3>

  <p>Yes! We are available for hire. Visit <a href="http://akveo.com">our homepage</a> or simply leave us a note at <a href="mailto:contact@akveo.com">contact@akveo.com</a>. We will be happy to work with you!</p>

</section>