<section class="page-header internal">
  <h1 class="project-name"><a routerLink="/">ng2-smart-table</a></h1>
  <h2 class="project-tagline">{{ tagline }}</h2>

  <a routerLinkActive="active" routerLink="/demo" class="btn">Quick Start</a>
  <a routerLinkActive="active" routerLink="/examples" class="btn">Examples</a>
  <a routerLinkActive="active" routerLink="/documentation" class="btn">Documentation</a>
  <a target="_blank" href="https://github.com/akveo/ng2-smart-table" class="btn">View on GitHub</a>
</section>