<nav *ngIf="shouldShow()" class="ng2-smart-pagination-nav">
  <ul class="ng2-smart-pagination pagination">
    <li class="ng2-smart-page-item page-item" [ngClass]="{disabled: getPage() == 1}">
      <a class="ng2-smart-page-link page-link" href="#" (click)="getPage() == 1 ? false : paginate(1)" aria-label="First">
        <span aria-hidden="true" [innerHTML]="firstButtonContent"></span>
        <span class="sr-only">First</span>
      </a>
    </li>
    <li class="ng2-smart-page-item page-item" [ngClass]="{disabled: getPage() == 1}">
      <a class="ng2-smart-page-link page-link page-link-prev" href="#" (click)="getPage() == 1 ? false : prev()" aria-label="Prev">
        <span aria-hidden="true" [innerHTML]="prevButtonContent"></span>
        <span class="sr-only">Prev</span>
      </a>
    </li>
    <li class="ng2-smart-page-item page-item" [ngClass]="{active: getPage() == page}" *ngFor="let page of getPages()">
      <span class="ng2-smart-page-link page-link" *ngIf="getPage() == page">{{ page }}
        <span class="sr-only">(current)</span>
      </span>
      <a class="ng2-smart-page-link page-link" href="#" (click)="paginate(page)" *ngIf="getPage() != page">{{ page }}</a>
    </li>

    <li class="ng2-smart-page-item page-item" [ngClass]="{disabled: getPage() == getLast()}">
      <a class="ng2-smart-page-link page-link page-link-next" href="#" (click)="getPage() == getLast() ? false : next()" aria-label="Next">
        <span aria-hidden="true" [innerHTML]="nextButtonContent"></span>
        <span class="sr-only">Next</span>
      </a>
    </li>

    <li class="ng2-smart-page-item page-item" [ngClass]="{disabled: getPage() == getLast()}">
      <a class="ng2-smart-page-link page-link" href="#" (click)="getPage() == getLast() ? false : paginate(getLast())" aria-label="Last">
        <span aria-hidden="true" [innerHTML]="lastButtonContent"></span>
        <span class="sr-only">Last</span>
      </a>
    </li>
  </ul>
</nav>

<nav *ngIf="perPageSelect && perPageSelect.length > 0" class="ng2-smart-pagination-per-page">
  <label for="per-page">
    Per Page:
  </label>
  <select (change)="onChangePerPage($event)" [(ngModel)]="currentPerPage" id="per-page">
    <option *ngFor="let item of perPageSelect" [value]="item">{{ item }}</option>
  </select>
</nav>