a.sort {

  &.asc, &.desc {
    font-weight: bold;

    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: 4px solid rgba(0, 0, 0, 0.3);
      border-top: 4px solid transparent;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      margin-bottom: 2px;
    }
  }

  &.desc::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    margin-bottom: -2px;
  }
}
