<header-component tagline="Examples"></header-component>
<div class="main-content with-sidebar">
  <nav class="fixed-sidebar">
    <h4>Examples</h4>
    <ul class="examples-menu">
      <li><a routerLink="./using-filters" routerLinkActive="active">Standalone & Advanced filters</a></li>
      <li><a routerLink="./populate-from-server" routerLinkActive="active">Loading data from server</a></li>
      <li><a routerLink="./custom-editors-viewers" routerLinkActive="active">Custom editors and viewers</a></li>
      <li><a routerLink="./various" routerLinkActive="active">Various</a></li>
    </ul>
  </nav>
  <div class="main-content-body">
    <router-outlet></router-outlet>
  </div>
</div>
