:host {
  .ng2-smart-filter {
    /deep/ {
      input,
      select {
        width: 100%;
        line-height: normal;
        padding: .375em .75em;
        font-weight: normal;
      }
      input[type="search"] {
        box-sizing: inherit;
      }
      .completer-dropdown-holder {
        font-weight: normal;
      }
      a {
        font-weight: normal;
      }
    }
  }
}
