<div [ngSwitch]="cell.getColumn().editor?.type">
    <cell-type-select *ngSwitchCase="'list'"
                            [cell]="cell"
                            [inputClass]="inputClass"
                            (onClick)="onClick($event)"
                            (onEdited)="onEdited($event)"
                            (onStopEditing)="onStopEditing()">
    </cell-type-select>

    <cell-type-textarea *ngSwitchCase="'textarea'"
                            [cell]="cell"
                            [inputClass]="inputClass"
                            (onClick)="onClick($event)"
                            (onEdited)="onEdited($event)"
                            (onStopEditing)="onStopEditing()">
    </cell-type-textarea>

    <cell-type-checkbox *ngSwitchCase="'checkbox'"
                            [cell]="cell"
                            [inputClass]="inputClass"
                            (onClick)="onClick($event)">
    </cell-type-checkbox>

    <cell-type-completer *ngSwitchCase="'completer'"
                            [cell]="cell">
    </cell-type-completer>

    <cell-type-input *ngSwitchDefault
                            [cell]="cell"
                            [inputClass]="inputClass"
                            (onClick)="onClick($event)"
                            (onEdited)="onEdited($event)"
                            (onStopEditing)="onStopEditing()">
    </cell-type-input>
</div>